body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

span{
    color: rgb(30, 255, 0);
    font-family:sans-serif;
}
